@use "../../styles/colors.scss";
@use "../../styles/vars.scss";
@use "../../styles/breakpoints.scss";

.deck_detail_header {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-color: colors.$blue;

	> :first-child {
		z-index: 5;
	}

	.info_icon {
		z-index: 5;
		margin-left: auto;
		margin-right: 4px;
	}

	> :last-child {
		display: flex;
	}

	svg {
		cursor: pointer;
	}
}

.floating_container {
	position: fixed;
	bottom: 20px;
	right: vars.$page-gap;

	@include breakpoints.s {
		right: calc((100vw - vars.$content-width) / 2);
	}

	svg {
		margin-right: 12px;
	}
}

.description_popup {
	position: absolute;
	width: 100%;
	top: 35px;
	background: colors.$lightblue;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	z-index: 5;
	padding: 17px;

	p {
		word-break: break-word;
	}
}

.overlay {
	position: absolute;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	z-index: 3;
	background: rgba(255, 255, 255, 0.7);
}

.memory_stability_indicator_container {
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: solid 1px;
	border-color: colors.$darkblue;
	padding: 16px 0px;
}

.popup_item {
	position: relative;
	svg {
		margin-right: 8px;
	}

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 8px 0px;
}

.unauthorized {
	svg {
		path {
			fill: colors.$lightgray;
		}
	}

	p {
		color: colors.$lightgray !important;
	}

	.disabled {
		pointer-events: none;
	}
}

.beta {
	position: absolute;
	right: -18px;
	top: 4px;
	font-size: 12px;
}
