@use "../../../../styles/colors.scss";

.default {
	background-color: rgba(255, 255, 0, 0.197);
	text-decoration: underline;
	text-decoration-color: rgb(255, 255, 0);
}

.card_selected {
	background-color: #d37600;
	text-decoration: underline;
}

.text_selected {
	background-color: #00ff00;
	text-decoration: underline;
}

.context_menu_container {
	position: fixed;
	background-color: white;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-radius: 8px;
	overflow: hidden;
	border-collapse: collapse;
	border: 1px solid #ccc;
}

.context_menu_item {
	height: 40px;
	width: 40px;
	flex: 1;
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 6px;
	align-self: stretch;

	cursor: pointer;
	&:hover {
		background-color: colors.$hovergray;
	}
}
