$screen-s: 481px;
$screen-m: 768px;
$screen-l: 1024px;

@mixin s {
	@media (min-width: #{$screen-s}) {
		@content;
	}
}

@mixin m {
	@media (min-width: #{$screen-m}) {
		@content;
	}
}

@mixin l {
	@media (min-width: #{$screen-l}) {
		@content;
	}
}
