@use "../../styles/breakpoints.scss";
@use "../../styles/vars.scss";

.container {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding-top: vars.$navbar-height + 8px;
	align-items: center;
	height: 100%;

	@include breakpoints.s {
		padding-top: vars.$navbar-height + 64px;
		margin-left: auto;
		margin-right: auto;
	}
}

.full {
	min-width: 100vw;
	max-width: 100vw;
	width: 100vw;
}

.s {
	min-width: breakpoints.$screen-s;
	width: breakpoints.$screen-s;
	margin-left: auto;
	margin-right: auto;
}
