@use "../../styles/breakpoints.scss";
@use "../../styles/vars.scss";

.container {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding-top: vars.$navbar-height + 8px;
	align-items: center;
	height: 100%;

	@include breakpoints.s {
		padding-top: vars.$navbar-height + 64px;
		margin-left: auto;
		margin-right: auto;
	}
}

.desktop {
	width: 100%;
	padding-left: 16px;
	padding-right: 16px;

	@include breakpoints.m {
		min-width: 982px;
		max-width: 982px;
		width: 982px;
		margin-left: auto;
		margin-right: auto;
	}
}

.full {
	min-width: 100vw;
	max-width: 100vw;
	width: 100vw;
}

.s {
	width: 100%;
	padding-left: 16px;
	padding-right: 16px;

	@include breakpoints.s {
		min-width: breakpoints.$screen-s;
		width: breakpoints.$screen-s;
		max-width: breakpoints.$screen-s;
		margin-left: auto;
		margin-right: auto;
	}
}
