.textarea {
	font-family: Berlin Sans FB;
	font-size: 1.4rem;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0em;
	word-break: break-all;
	background: none;

	overflow: auto;
	border: none;
	text-align: center;
	height: auto;
	max-height: 100%;

	outline: none;
	resize: none;

	&:focus::placeholder {
		color: transparent;
	}
}
