@use "../../styles/colors.scss";
@use "../../styles/animations.scss";

.deck_container {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	border: 1px solid colors.$lightgray;

	@include animations.scale_hover;

	.deck_header {
		width: 100%;
		height: 32px;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		align-content: center;
	}

	.deck_body {
		height: 100px;
		padding: 16px 16px;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.deck_info {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: auto;
	}
}

.text {
	font-weight: bold;
	text-align: center;
	font-size: 22px;
	align-self: flex-start;
}
