@use "../../styles/colors.scss";
@use "../../styles/animations.scss";
@use "../../styles/breakpoints.scss";

.article_container {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	border: 1px solid colors.$lightgray;
	width: 100%;
	position: relative;
	height: 132px;
	min-height: 132px;
	border-radius: 20px;
	position: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 20px;

	@include animations.scale_hover;

	@include breakpoints.s {
		width: 224px;
		height: 262px;
	}

	.article_name {
		word-break: break-all;
	}
}
