.container {
	flex: 1;
	display: flex;
	flex-direction: column;

	> *:not(:last-child) {
		margin-bottom: 20px;
	}

	h2 {
		text-align: center;
	}

	.center {
		text-align: center;
		font-size: 22px;
	}

	> svg {
		margin-left: auto;
		margin-right: auto;
	}

	.deck_title {
		font-size: 22px;
		margin-top: 17px;
		margin-bottom: 11px;
	}
}

.indicator {
	margin-left: auto;
	margin-right: auto;
}
