.signup_container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    form {
        > *:not(:last-child) {
            margin-bottom: 35px;
        }
    }

    .password_container {
        :first-child {
            margin-bottom: 25px;
        }
    }
}
