.signup_container {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 90%;
    margin-left: auto;
    margin-right: auto;

    form {
        > *:not(:last-child) {
            margin-bottom: 45px;
        }
    }

    .password_container {
        :first-child {
            margin-bottom: 25px;
        }
    }

    img {
        position: absolute;
        right: 0;
        top: 0;
        width: 75px;
        height: 70px;
    }

    p {
        position: absolute;
        margin-top: -40px;
        margin-bottom: 0px !important;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}
