@use "./styles/colors.scss";
@use "./styles/breakpoints.scss";
@use "./styles/vars.scss";

html {
	box-sizing: border-box;
	font-family: "Berlin Sans FB", sans-serif;
	height: -webkit-fill-available;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	@include breakpoints.m {
		background: colors.$lightblue;
	}

	display: flex;
	flex-direction: column;
	margin: 0;
	min-height: 100vh;
	min-height: -webkit-fill-available;
}

#root {
	flex: 1;
	display: flex;
}

.App {
	flex: 1;
	padding-top: vars.$navbar-height;
	max-width: 812px;
	margin-left: auto;
	margin-right: auto;

	display: flex;
	flex-direction: column;
}

.content {
	flex: 1;

	margin-left: auto;
	margin-right: auto;

	width: 100%;

	background: white;

	display: flex;
	flex-direction: column;

	@include breakpoints.m {
		width: 598px;
		height: 680px;
	}
}

a {
	text-decoration: none;
	display: block;
}

a:visited {
	color: inherit;
}

.header {
	color: colors.$blue;
	align-self: flex-start;
	text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	font-size: 3rem;
	margin: 0;
}

.simple_button {
	width: 100%;
	cursor: pointer;
	border: none;
	background: white;
	color: colors.$blue;
	font-size: 18px;
}

.error {
	font-size: 1.1rem;
	margin: 0;
	text-align: center;
	color: colors.$rederror;
}

.text {
	font-size: 1.1rem;
	color: colors.$blue;
}
