@use "./styles/colors.scss";
@use "./styles/breakpoints.scss";
@use "./styles/vars.scss";

html {
    box-sizing: border-box;
    font-family: "Berlin Sans FB", sans-serif;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    @include breakpoints.m {
        background: colors.$lightblue;
    }
}

.App {
    max-width: 812px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

.content {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: calc(100vh - vars.$navbar-height);

    background: white;
    margin-top: vars.$navbar-height;

    @include breakpoints.m {
        width: 598px;
        height: 680px;
    }
}

.header {
    color: colors.$blue;
    align-self: flex-start;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    font-size: 3em;
    margin: 0;
}

.simple_button {
    width: 100%;
    cursor: pointer;
    border: none;
    background: white;
    color: colors.$blue;
    font-size: 18px;
}

.error {
    font-size: 1.1em;
    margin: 0;
    text-align: center;
    color: colors.$rederror;
}

.text {
    font-size: 1.1em;
    color: colors.$blue;
}
