@use "./styles/colors.scss";

html {
    box-sizing: border-box;
    font-family: "Berlin Sans FB", sans-serif;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

.App {
    max-width: 812px;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

.content {
    width: 298px;
}

.header {
    color: colors.$blue;
    align-self: flex-start;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    font-size: 3em;
}

.simple_button {
    cursor: pointer;
    border: none;
    background: white;
    color: colors.$blue;
    font-size: 18px;
}

.error {
    font-size: 1.1em;
    margin: 0;
    text-align: center;
    color: colors.$rederror;
}

.text {
    font-size: 1.1em;
    color: colors.$blue;
}

.global_error {
    display: none;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    left: 0;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    color: colors.$rederror;
}
