@use "../../styles/colors.scss";

.container {
	background-color: colors.$lightblue;
	border-radius: 5px;
	padding: 10px;
	margin: 10px auto;
	box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.25);
	color: black;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	width: 95vw;
	z-index: 1000;
}

.linktext {
	text-decoration-line: underline;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

.bannertext {
	font-weight: bold;
}

.cookieIcon {
	width: 20px;
	height: 20px;
}
