@use "../../styles/vars.scss";
@use "../../styles/breakpoints.scss";

.container {
	overflow-x: hidden;
	overflow-y: auto;
	height: 1px;
	flex-grow: 1;
	align-self: center;

	display: flex;
	align-items: center;
	gap: 16px;

	margin-left: -16px;
	margin-right: -16px;
	width: 100vw;
	padding-top: 8px;
	flex-direction: column;
	padding-left: vars.$page-gap;
	padding-right: vars.$page-gap;

	@include breakpoints.s {
		flex-direction: row;
		flex-wrap: wrap;
		align-content: flex-start;
		padding-left: calc((100vw - vars.$content-area-width) / 2 + 16px);
		padding-right: calc((100vw - vars.$content-area-width) / 2 + 16px);
	}
}
