@use "../../styles/vars.scss";
@use "./styles/breakpoints.scss";

.container {
	overflow-x: hidden;
	overflow-y: auto;
	padding: 8px vars.$page-gap;
	width: 100%;
	height: 1px;
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	align-items: center;

	> * {
		width: 100%;
		@include breakpoints.s {
			min-width: calc(breakpoints.$screen-s - 2 * vars.$page-gap);
			max-width: calc(breakpoints.$screen-s - 2 * vars.$page-gap);
		}
	}
}
